<!DOCTYPE HTML PUBLIC "-//W3C//DTD HTML 4.0 Transitional//EN">
html
    head
        meta(http-equiv="Content-Type" content="text/html; charset=utf-8")
        link(rel="stylesheet" type="text/css" href="./css/style.css")
    body
        table.background-table(width="100%" border="0" cellspacing="0" cellpadding="0" bgcolor="#ffffff")
            tr
                td.background-table__cell(align="center"  height="100%")
                    table.wrapper(bgcolor="#eaeaec" width="860" border="0" cellspacing="0" cellpadding="0")
                        tr
                            td.wrapper__header(align="center")
                                img.wrapper__logo(alt='logo' border="0" width="83" height="50" src='./img/logo.png')
                        tr
                            td.wrapper__content(align="center")
                                table.content(width="100%" border="0" cellspacing="0" cellpadding="0" bgcolor="#f7f7f7")
                                    tr
                                        td.content__header(align="center")
                                            img.content__logo(alt='logo' border="0" width="585" height="174" src='./img/1C-logo.png')
                                    tr
                                        td.content__title(align="center")
                                            | Здравствуйте, Riikka Lansky!
                                    tr
                                        td.content__sub-title(align="center")
                                            | По Вашему заказу &laquo;Название заказа&raquo; выствлен счет.
                                    tr
                                        td.content__order-box(align="center" bgcolor="#fefefe")
                                            table.content__order(width="520" border="0"  cellspacing="0" cellpadding="0" bgcolor="#fefefe")
                                                tr
                                                    td.content__order-id(align="right" width="50%")
                                                        span.content__id-name
                                                            | Номер счета:
                                                            |
                                                            |
                                                        span.content__order-number
                                                            | №#ORDER_ID#
                                                    td.content__order-sum(align="right" width="50%")
                                                        span.content__sum-name
                                                            | Сумма:
                                                            |
                                                            |
                                                        span.content__sum-number
                                                            | #ORDER_SUM#
                                    tr
                                        td.content__pay-title(align="center")
                                            | Вы можете оплатить счет через Личный кабинет:
                                    tr
                                        td.content__pay-ways-box(align="center")
                                            table.content__pay-ways
                                                tr
                                                    td.content__mark(align="right" valign="top" width="77")
                                                        span.content__mark-box
                                                            img.content__mark-icon(alt='' border="0" width="7" height="7" src='./img/ellipse.png')
                                                    td.content__pay-way(align="left" valign="top")
                                                        | Электронным платежем (банковская карта, Яндекс Деньги, Qiwi и другие);
                                                tr
                                                    td.content__mark(align="right" valign="top" width="77")
                                                        span.content__mark-box
                                                            img.content__mark-icon(alt='' border="0" width="7" height="7" src='./img/ellipse.png')
                                                    td.content__pay-way(align="left" valign="top")
                                                        | По безналичному расчету (закрывающие документы для бухгалтерии будут доступны в
                                                        |
                                                        |
                                                        a.content__pay-way-link(href='#')
                                                            | Личном кабинете
                                                        | )
                                    tr
                                        td.content__order-detail-title(align="center")
                                            | Детализация счета
                                    tr
                                        td.content__order-detail-box(align="center")
                                            table.content__order-detail(width="100%"  cellspacing="0" cellpadding="0" bgcolor="#fefefe")
                                                tr
                                                    td.content__detail-name-title(align="center" valign="middle" bgcolor="#d7f7c4" width="330" height="30")
                                                        | Услуга
                                                    td.content__detail-number-title(align="center" valign="middle" bgcolor="#d7f7c4" height="30")
                                                        | Кол-во
                                                    td.content__detail-price-title(align="center" valign="middle" bgcolor="#d7f7c4" height="30")
                                                        | Цена, руб.
                                                    td.content__detail-sum-title(align="center" valign="middle" bgcolor="#d7f7c4" height="30")
                                                        | Сумма, руб.
                                                tr
                                                    td.content__detail-name(align="left" valign="middle" width="330")
                                                        | Передача неисключительных, непередаваемых прав (лицензий) доступа
                                                        | на программное обеспечение по тарифу "Расширенный"
                                                    td.content__detail-number(align="center" valign="middle")
                                                        | 1
                                                    td.content__detail-price(align="center" valign="middle")
                                                        | 774
                                                    td.content__detail-sum(align="center" valign="middle")
                                                        | 774
                                                tr
                                                    td.content__detail-name(align="left" valign="middle" width="330")
                                                        | Передача неисключительных, непередаваемых прав (лицензий) доступа
                                                        | на программное обеспечение по тарифу "Расширенный"
                                                    td.content__detail-number(align="center" valign="middle")
                                                        | 58
                                                    td.content__detail-price(align="center" valign="middle")
                                                        | 418
                                                    td.content__detail-sum(align="center" valign="middle")
                                                        | 74304
                                                tr
                                                    td.content__detail-name(align="left" valign="middle" width="330")
                                                        | Передача неисключительных, непередаваемых прав (лицензий) доступа
                                                        | на программное обеспечение по тарифу "Расширенный"
                                                    td.content__detail-number(align="center" valign="middle")
                                                        | 1
                                                    td.content__detail-price(align="center" valign="middle")
                                                        | 774
                                                    td.content__detail-sum(align="center" valign="middle")
                                                        | 774
                                    tr
                                        td.content__recommendation-title(align="center" valign="middle")
                                            | Рекомендуем ознакомиться:
                                    tr
                                        td.content__recommendation(align="center" valign="middle" height="50" bgcolor="#fefefe")
                                            img.content__recommendation-icon(src="./img/send-icon.png" alt="" border="0" width="18" height="18")
                                            span.content__recommendation-interval
                                                | &nbsp;
                                            |
                                            |
                                            a.content__recommendation-link(href="#")
                                                | Услуга "1С: Отчетность":
                                            |
                                            |
                                            | сдача отчетности напрямую из 1С
                                    tr
                                        td.content__bottom-distance(width="100%" height="28")
                                            | &nbsp;
                        tr
                            td.wrapper__footer-title(align="center")
                                | Приятной работы и новых клиентов!
                        tr
                            td.wrapper__footer-subtitle(align="center")
                                | Управление пользователями, бзами 1С, опциями
                                br
                                | и многое другое доступно в
                                |
                                |
                                a.wrapper__footer-cabinet-link(href="#")
                                    | личном кабинете
                        tr
                            td.wrapper__footer-contacts-box(align="center")
                                table.wrapper__footer-contacts(width="650" border="0" cellspacing="0" cellpadding="0" bgcolor="#eaeaec")
                                    tr
                                        td.wrapper__footer-phone(align="left")
                                            | 8 800 555-91-15, звонок бесплатный
                                        td.wrapper__footer-consult-link-box(align="left")
                                            a.wrapper__footer-consult-link(href="#")
                                                | Онлайн-консультант
                                        td.wrapper__footer-email-box(align="left")
                                            a.wrapper__footer-email-link(href="mailto: help@scloud.ru")
                                                | help@scloud.ru
                        tr
                            td.wrapper__footer-line(align="center" width="100%" height="1" bgcolor="#c0c0c0")
                        tr
                            td.wrapper__footer-unsubcribe(align="center")
                                | Если Вы не хотите больше полуать писем от нас, достаточно перейти по
                                |
                                |
                                a.wrapper__footer-unsubscribe-link(href="#")
                                    | ссылке
